body
{
    background-color: #FBFBEF;
    font-family: Arial, Helvetica, sans-serif;
}
.spanTitle
{
    font-size:18px;
    text-decoration: underline;
    margin-bottom: 5px;
}

.spanSubTitle
{
    font-size:16px;


}

.box
{
    margin:5px;
    padding:5px;
    max-width: 450px;
    max-height: auto;
    background-color: beige;
    border-radius: 5px;
   

}
.imgshadow
{
  -webkit-box-shadow: 3px 10px 80px -18px rgba(215,219,138,1);
  -moz-box-shadow: 3px 10px 80px -18px rgba(215,219,138,1);
  box-shadow: 3px 10px 80px -18px rgba(215,219,138,1);
  max-width: 150px;
  max-height: 150px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(110px, auto);
   
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1/9;
    -webkit-box-shadow: 3px 10px 80px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 80px -18px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 80px -18px rgba(0,0,0,0.75);
  }
  .two {
    grid-column: 2 / 2;
    grid-row: 2 / 9;
   
  }
  .three {
    grid-column: 1 / 2;
    grid-row: 2 / 9;
  }
  .four {
    grid-column: 1 / 2;
    grid-row: 4 / 9;
  }
  .five{
    grid-column: 1 / 2;
    grid-row: 5 / 9;
  }
  .six{
    grid-column: 1 / 2;
    grid-row: 7/ 9;
  }
  .seven{
    grid-column: 1 / 2;
    grid-row: 8 / 9;

  }
  .eight{
    grid-column: 1 / 2;
    grid-row: 9 / 9;

  }